html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#4f6072), to(#8699aa));
  background: linear-gradient(to top, #4f6072, #8699aa);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

